.active-jobs {
  width: 25vw;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  z-index: 2;
  background-color: rgb(250, 250, 250);
}

.active-jobs-header {
  margin-top: 5px;
  margin-bottom: 10px;
}
