* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Roboto";
}

::-webkit-scrollbar {
  display: none;
  visibility: hidden;
  width: 0;
}
