.job {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 1px 1px 10px black;
}

.job-company {
  width: 200px;
  padding-left: 10px;
}

.job-role {
  width: 600px;
  text-align: center;
}

.job-salary {
  width: 190px;
  text-align: right;
  padding-right: 10px;
}

.job-mini {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px 0 15px 0;
  height: 60px;
}

.job-mini .job-company {
  width: 150px;
  font-size: 0.4em;
}

.job-mini .job-role {
  width: 300px;
  font-size: 1em;
}

.job-mini .job-salary {
  width: 150px;
  font-size: 0.8em;
}
