.jobs-container {
  height: 94vh;
  width: 75vw;
  overflow-y: scroll;
}

.jobs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jobs-header {
  padding: 20px;
  text-align: center;
}
