.navbar {
  width: 75vw;
  height: 6.5vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(43, 43, 43);
  box-shadow: 1px 1px 10px rgb(51, 51, 51);
  z-index: 1;
}

.navbar-logo {
  padding: 5px;
  color: rgb(240, 240, 240);
  border-right: 1px solid rgb(240, 240, 240);
}

.navbar-settings {
  padding: 10px;
}
